# cache files
__pycache__/

# dist files
*.egg-info/
runs/
# data files
*.h5
*.npz
*.npy
.venv
.ruff_cache/
.pytest_cache/
# ipynb checkpoints
example_scripts/.ipynb_checkpoints/
gawain/.ipynb_checkpoints/
.ipynb_checkpoints
paper/
install_amd_gpu.txt